@model List<Sklad.Models.Category>

@{
    ViewBag.Title = "Категории";
    Layout = "_Layout";
}
<a asp-action="CreateCategory" class="btn btn-primary">Новая категория</a>

<table id="tb1" class="table table-bordered">
        <thead>
            <tr>
                <th>
                    Наименование
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <a asp-action="EditCategory" asp-route-id="@item.Id">@item.Name</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
