@model Sklad.Models.Product

@{
    ViewData["Title"] = "Обновить";
}

<div class="row">
    <div class="col-md-4">
        <form asp-action="EditProduct">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" value="@Model.Id" />

            <div class="form-group">
                <label asp-for="Name" class="control-label">Наименование</label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Description" class="control-label">Описание</label>
                <textarea asp-for="Description" class="form-control"></textarea>
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CurrentCount" class="control-label">Количество</label>
                <input asp-for="CurrentCount" class="form-control" />
                <span asp-validation-for="CurrentCount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label class="control-label">Год прихода партии</label>
                @Html.DropDownListFor(model => model.YearOfIncome,ViewBag.Years as SelectList)
            </div>
            <div class="form-group">
                <label asp-for="Applicant" class="control-label">Заявитель</label>
                <input asp-for="Applicant" class="form-control" />
                <span asp-validation-for="CurrentCount" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="Used" class="control-label">Б/У</label>
                <input asp-for="Used" class="custom-checkbox" />
                <span asp-validation-for="Used" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="CanBeGiven" class="control-label">Готово к выдаче</label>
                <input asp-for="CanBeGiven" class="custom-checkbox" />
                <span asp-validation-for="CanBeGiven" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CountToGive" class="control-label">Количество к выдаче</label>
                <input asp-for="CountToGive" class="form-control" />
                <span asp-validation-for="CountToGive" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label class="control-label">Категория</label>
                @{
                    List<SelectListItem> listItems = new List<SelectListItem>();
                    foreach (var item in ViewBag.Categories)
                    {
                        listItems.Add(new SelectListItem()
                        {
                            Text = item.Name,
                            Value = item.Id.ToString()
                        });
                    }
                    @Html.DropDownListFor(model => model.CategoryId, listItems,"-------")
                }
            </div>
            
            <div class="form-group">
                <input type="submit" value="Обновить" class="btn btn-primary" />
                <a class="btn btn-primary" asp-action="Index">Назад к списку</a>
                <a class="btn btn-danger" asp-action="DeleteProduct" asp-route-id="@Model.Id">Удалить</a>
            </div>
        </form>
    </div>
</div>
