@using Microsoft.AspNetCore.Identity
@using SkladIdentity.Models
@inject SignInManager<User> SignInManager;
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Склад IT</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
<header>
        <nav class="navbar navbar-expand-sm navbar-dark bg-primary">
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarsExample03">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item">
                        <a class="nav-link text-light" href="http://10.169.110.15/Home">Веб поиск в АСУ МС</a>
                    </li>
                    @if (SignInManager.IsSignedIn(User))
                    {
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="User" asp-action="UserIndex">Готово к выдаче</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Index">Главная страница</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Incomes">Приход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Home" asp-action="Outcomes">Расход</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-light" asp-controller="Category" asp-action="Index">Категории</a>
                        </li>
                    }
                </ul>

                @if (SignInManager.IsSignedIn(User))
                    {
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                    }
                    else
                    {
                        <a class="nav-link text-light" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                    }
            </div>
        </nav>
    </header>

<div class="col py-3">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>



    <!-- Sidebar -->
    <!--<div class="container-fluid text-left">
        <div class="row flex-nowrap">
            <div class="col-auto col-md-3 col-xl-2 px-sm-2 px-0 bg-light">
                <div class="d-flex flex-column align-items-center align-items-sm-start px-3 pt-2 text-white min-vh-100">
                    <a class="d-flex align-items-center pb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
                        <span class="fs-5 d-none d-sm-inline">Навигация</span>
                    </a>
                    <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start" id="menu">
                        <li class="nav-item">
                            <a href="http://10.169.110.15/Home" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Веб поиск в АСУ МС</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-controller="User" asp-action="UserIndex" class="nav-link align-middle px-0">
                                <i class="fs-4 bi-house"></i> <span class="ms-1 d-none d-sm-inline">Склад IT</span>
                            </a>
                        </li>
                    </ul>
                    <hr>
                </div>
            </div>

            <div class="col py-3">
                @if (SignInManager.IsSignedIn(User))
                {
                    <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Logout">Выход</a>
                }
                else
                {
                    <a class="btn btn-primary" asp-area="" asp-controller="Account" asp-action="Login">Вход</a>
                }

                <main role="main" class="pb-3">
                    @RenderBody()
                </main>

            </div>
        </div>
    </div>-->

    <footer class="border-top footer text-muted">
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>